<form class="form-inline">

    <div class="form-group mx-sm-3 mb-2">
        <label for="nome" class="sr-only">pesquisar por nome</label>
        <input type="text" class="form-control" id="nome" name="nome" [(ngModel)]="nome"
            placeholder="pesquisar por nome">
    </div>
    <button type="button" (click)="filtrar()" class="btn btn-primary mb-2">buscar</button>
    <button type="button" (click)="gerarRelatorio()" class="btn btn-primary mb-2" data-toggle="modal"
        data-target=".bd-example-modal-lg">PDF</button>
    <button type="button" [routerLink]="[ '/addCliente' ]" routerLinkActive="active"
        class="btn btn-success mb-2">Novo</button>


</form>

<table class="table">
    <thead>
        <th>Id</th>
        <th>Nome</th>
        <th>Sexo</th>
        <th>Data de nascimento</th>
        <th>Cpf</th>
        <th>Editar</th>
        <th>Deletar</th>
    </thead>
    <tbody>
        <tr *ngFor="let cliente of clientes | paginate: configPaginate; let i = index">
            <td>{{cliente.id}}</td>
            <td>{{cliente.nome}}</td>
            <td>{{cliente.sexo}}</td>
            <td>{{cliente.dataNascimento}}</td>
            <td>{{cliente.cpf | mask: '000.000.000-00'}}</td>
            <td><button type="button" [routerLink]="[ '/addCliente', cliente.id ]"
                    class="btn btn-primary">Editar</button></td>
            <td><button type="button" (click)="deletarPorId(cliente.id, i)" class="btn btn-danger">Deletar</button></td>
        </tr>
    </tbody>
</table>

<pagination-controls (pageChange)="onChangePage($event)" responsive="true" previousLabel="anterior" nextLabel="proximo">
</pagination-controls>

<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Relatorio dos clientes</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <iframe src="" style="width: 100%; height: 500px;" frameborder="0"></iframe>
            </div>
        </div>
    </div>
</div>